/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

/* Index Page Styles */
.index-header {
  margin-bottom: 20px;
}

.index-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.button-container {
  margin: 10px;
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.learn-endgames {
  justify-content: center;
  align-items: center;
}
.solve-puzzles{
  justify-content: center;
  align-items: center;
}
.index-button:hover {
  background-color: #45a049;
}

.index-level-select {
  margin: 10px 0;
}

/* Game Page Styles */
#myBoard {
  margin-bottom: 20px;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

input[type="text"] {
  width: calc(100% - 10px);
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#status, #fen, #pgn, #evaluation, #bestMove, #altMove1, #altMove2 {
  margin: 10px 0;
  font-size: 16px;
}

#fenInput {
  margin-top: 10px;
}

#fenDisplay, #pgnDisplay {
  background: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  overflow-x: auto;
}

#bestMove, #altMove1, #altMove2 {
  background: #e7f3fe;
  padding: 10px;
  border: 1px solid #d3e2f1;
  border-radius: 4px;
  width: 100%;
  margin: 5px 0;
}

#bestMove {
  background: #dff0d8;
  border: 1px solid #d6e9c6;
}

#altMove1, #altMove2 {
  background: #fcf8e3;
  border: 1px solid #faf2cc;
}

h1 {
  margin-bottom: 20px;
}
